body {
	margin: 0;
	display: flex;
	flex-wrap: wrap;	
}
.containter {
	display: flex;
	flex-wrap: wrap;
}

.wide-column {
	background-color: #AA896A;
	height: 100vh;
	width: 50%;
}



.column {
	background-color: #84577E;
	height: 100vh;
	width: 25%;
}
.column2 {
	background-color: #84577E;
	height: 100vh;
	width: 25%;
}
.img1 {
content:url(Untitled-1.png);
width: 45%;
padding: 10px;

}
.img2 {
content:url(Untitled-2.png);
width: 45%;
padding: 10px;

}
.img3 {
content:url(Untitled-3.png);
width: 45%;
padding: 10px;
}
.img4 {
content:url(Untitled-4.png);
 width: 45%;
padding: 10px;
}
.img5 {
content:url(images/Untitled-5.png);
 width: 45%;
padding: 10px;
}
.img6 {
content:url(images/Untitled-6.png);
width: 45%;
padding: 10px;
}
.img7 {
content:url(images/Untitled-7.png);
width: 45%;
padding: 10px;
}
.img8 {
content:url(images/Untitled-8.png);
width: 45%;
padding: 10px;
}
.img9 {
content:url(images/Untitled-11.png);
width: 45%;
padding: 10px;
}
.img10 {
content:url(images/Untitled12.png);
width: 45%;
padding: 10px;
}
@media screen and (max-width: 700px) {
	body {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	}
	
	.wide-column {
	background-color: #AA896A;
	height: 50vh;
	width: 100%;
	order: 0;
	}

	.column {
	background-color: #84577E;
	height: 50vh;
	width: 50%;
	order: 1;
	}
	.column2 {
	background-color: #84577E;
	height: 50vh;
	width: 50%;
	order: 2;
	}
	.img1 {
content:url(images/Untitled-1.png);
width: 45%;
}
.img2 {
content:url(images/Untitled-2.png);
width: 45%;
}
.img3 {
content:url(Untitled-3.png);
width: 45%;
}
.img4 {
content:url(images/Untitled-4.png);
 width: 45%;
}
.img5 {
content:url(images/Untitled-5.png);
 width: 45%;
}
.img6 {
content:url(images/Untitled-6.png);
width: 45%;
}
.img7 {
content:url(images/Untitled-7.png);
width: 45%;
}
.img8 {
content:url(images/Untitled-8.png);
width: 45%;
}
	
@media screen and (max-width: 300px) {
	body {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	}
	
	.wide-column {
	background-color: #AA896A;
	height: 50vh;
	width: 100%;
	order: 0;
	}

	.column {
	background-color: #84577E;
	height: 50vh;
	width: 50vw;
	order: 1;
	}
	.column2 {
	background-color: #84577E;
	height: 50vh;
	width: 50vw;
	order: 2;
	}
	.img1 {
content:url(images/Untitled-1.png);
width: 45%;
}
.img2 {
content:url(images/Untitled-2.png);
width: 45%;
}
.img3 {
content:url(images/Untitled-3.png);
width: 45%;
}
.img4 {
content:url(images/Untitled-4.png);
 width: 45%;
}
.img5 {
content:url(images/Untitled-5.png);
 width: 45%;
}
.img6 {
content:url(images/Untitled-6.png);
width: 45%;
}
.img7 {
content:url(images/Untitled-7.png);
width: 45%;
}
.img8 {
content:url(images/Untitled-8.png);
width: 45%;
}


	
